{% extends "base.html" %}

{% block title %}
Delete {{ list.name }}
{% endblock title %}

{% block main %}
<main>
    <div>
        <h1>Delete {{ list.name }}</h1>
        <form method="post">
            {% csrf_token %}
            <p>Are you sure?</p>
            <button>Delete</button>
            <input type=button value="Back" onClick="javascript:history.go(-1);">
        </form>
    </div>
</main>
{% endblock main %}