{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "todos.css" %}">
    <title>
        {% block title %}{% endblock title %}
    </title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url "todo_list_list" %}">My lists</a>
            {% block nav %}{% endblock nav %}
        </nav>
    </header>
    {% block main %}{% endblock main %}
</body>
</html>