{% extends "base.html" %}

{% block title %}
{{ item.name }}
{% endblock title %}

{% block main %}
<main>
    <div>
        <h1>Edit {{ item.name }}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Update</button>
            <input type=button value="Back" onClick="javascript:history.go(-1);">
        </form>
    </div>
</main>
{% endblock main %}